.is-right {
  float: right;
}

.graph-example-container {
  display: flex;
  margin-bottom: 12px;
}

.graph-example-container > button {
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 8px;
  width: 25%;
  height: auto;
  text-align: center;
  white-space: normal;
}

.graph-example-container > p {
  display: block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 8px;
  width: 75%;
}
